<p>formulation works!</p>
<form class="example-form">
    <div class="row">
        <div class="col">
            <div class="row">
                <mat-form-field class="example-full-width">
                    <mat-label>Favorite food</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="Sushi">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Favorite food</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="Sushi">
                </mat-form-field>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <mat-form-field class="example-full-width">
                    <mat-label>Favorite food</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="Sushi">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Favorite food</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="Sushi">
                </mat-form-field>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <mat-form-field class="example-full-width">
                    <mat-label>Favorite food</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="Sushi">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Favorite food</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="Sushi">
                </mat-form-field>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <mat-form-field class="example-full-width">
                    <mat-label>Favorite food</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="Sushi">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Favorite food</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="Sushi">
                </mat-form-field>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <mat-form-field class="example-full-width">
                    <mat-label>Favorite food</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="Sushi">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>Favorite food</mat-label>
                    <input matInput placeholder="Ex. Pizza" value="Sushi">
                </mat-form-field>
            </div>
        </div>


    </div>

</form>